body {
	/* background-color: #333333; */
	background-color: #110306;
	overflow-x: hidden;
}

.search {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #000;
	padding: 30px 0 50px;
}

.search-group {
	max-width: 1000px;
}

.search-input {
	max-width: 1000px;
	color: #fff;
	font-size: large;
	background-color: #333333;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 10px 5px 10px;
	/* color: #fff; */
}

.search-field {
	font-size: large;
	border: 1px #fff solid;
	border-radius: 5px;
	background-color: #333333;
	color: #fff;
	overflow: hidden;
	text-align: center;
}

.search button {
	width: 200px;
	padding: 10px;
	background-color: maroon;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 5px;
}

.search button:active {
	transform: scale(0.9);
}

.all-movies {
	display: flex;
	max-width: 1200px;
	margin: 30px auto;
	flex-flow: row wrap;
}

.single-movie {
	flex-basis: 20%;
	height: 350px;
	position: relative;
	margin-bottom: 40px;
}

.single-movie .single-movie-image {
	margin: 0 auto;
	height: 85%;
	width: 80%;
	border: 5px solid #fff;
	border-radius: 20px;
}

.single-movie .single-movie-text {
	color: #fff;
	width: 85%;
	margin: 0 auto;
}

.single-movie .single-movie-text h3 {
	/* font-size: 20px; */
	font-size: 20px;
	font-weight: lighter;
	margin: 0;
}
.single-movie .single-movie-text p {
	font-size: 14px;
	margin: 5px 0 0;
}

/* for low-res laptops */
@media (max-width: 1200px) {
}

/* for small laptops and tablets */
@media (max-width: 768px) {
}

/* for phones */
@media (max-width: 400px) {
}

/* SINGLE MOVIE */

.container {
	/* display: block; */
	/* width: 100vw; */
	min-height: 100vh;
	/* align-items: center; */
}

.background-image {
	position: absolute;
	top: 0;
	z-index: -1;
	/* margin: 0 auto; */
	width: 100vw;
	/* height: 85vh; */
	background-image: url("https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(20px);
}

.component {
	width: 1000px;
	margin: 40px auto;
	display: flex;
}

#movie {
	display: flex;
}

.movie-image {
	flex-basis: 30%;
	margin: 10px;
}

.movie-image img {
	width: 260px;
	height: 400px;
	border: #fff solid 4px;
	border-radius: 5px;
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
}

.movie-text {
	flex-basis: 70%;
	margin: 10px;
}

.movie-text .rating {
	display: flex;
}

.movie-text .rating h4 {
	margin: 16px 10px;
}

#video {
	flex: 6;
}

#images .img {
	background-size: cover;
	background-repeat: no-repeat;
	flex: 1;
	margin: 10px;
	height: 300px;
	transition: flex 0.5s ease-in;
	cursor: pointer;
	border: #fff solid 2px;
}

#images .img.active {
	flex: 5;
}

#cast {
	flex: 4;
}

#actors {
	height: 300px;
	overflow: auto;
	background-color: black;
}

.actor {
	display: flex;
	align-items: center;
}

.actor .actor-image {
	flex: 1;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
	height: 100px;
	width: 70px;
	border: #fff solid 2px;
	border-radius: 10px;
}

.actor .actor-text {
	color: white;
	flex: 4;
}

.actor .actor-text span {
	color: gray;
}
